header{
     text-align: center;
    background-color: bisque;
    border-radius: 10px;
}

header h1{
    color: darkgreen;
}

header p{
    color: gray;
    font-style: italic;
}

footer{
    background-color: bisque;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

section{
    margin: 40px 0;
    
}

article{
    display: inline-block;
    border: 2px rgb(129, 4, 4) solid;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    width:300px;
}
p{
    font-size: large;
}

body{
    background-color: rgba(255, 235, 205, 0.274);
    text-align: center;
}

#bhat > h2 {
    color: rgb(40, 40, 87);
}
#bhorta > h2 {
    color: rgb(119, 118, 44);
}
#gosto > h2 {
    color: rgb(243, 144, 30);
}
#dim > h2 {
    color: rgb(247, 211, 11);
}
#shobji > h2 {
    color: rgb(5, 207, 21);
}

img{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    border-radius: 10px;
}

label{
    display: inline-block;
    margin-bottom: 20px;
}

#submit button{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
